# All files
[*]

# Xml files
[*.xml]

[*.cs]
#### Naming styles ####

# Naming rules

# Symbol specifications

# Naming styles

csharp_style_namespace_declarations = file_scoped:silent

[*.vb]
#### Naming styles ####

# Naming rules

# Symbol specifications

# Naming styles
